<div style="position:relative;border-bottom:1px dashed #0044cc;">
    <img class="picture" style="position:relative;width:320px;height:320px;margin:10px;padding:3px;border:1px dashed;" alt="无图片">
    </img>
    <div style="position:absolute;top:0px;left:0px;width:320px;height:320px;margin:10px;padding:3px;border:1px dashed;" >
        <div  class="content" style="color:#ffffff;padding:0 30px;height:320px;width:320px;font:24px/1.5  Arial, 'Microsoft Yahei', '微软雅黑'; display: table-cell; vertical-align: middle;text-align: center;word-break: break-all">
        </div>
    </div>
    <a class="btn red delete-question" href="javascript:">删除</a>
</div>