<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption" style="margin-bottom: 0px"><i class="icon-reorder"></i>
            <span class="title" style="float: left;margin-right: 10px"></span>
            <span style="float: left">
                <label class="checkbox select-all"><div class="checker"><span class="checked"><input type="checkbox"></span></div><span>全部</span></label>
            </span>
        </div>
        <div class="tools">

            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>

    <div class="portlet-body hide" style="display: block;">

        <div class="list"></div>
        <div style="clear: both"></div>
    </div>

</div>