<div class="span11 secret" style="border-bottom: 1px dashed #0044cc;padding-left: 5px;padding-right: 5px">
    <div class="summary"  >
        <p>
        <h4>
            <span class="content" style="font-weight: bold"></span>
            <a class="btn red delete-secret-created" href="javascript:">删除</a>
        </h4>
        </p>
        <p>
            <span class="time"></span>&nbsp;&nbsp;
            <span class="school"></span>
        </p>
        <p>
            <span class="secret_key" id="secret_key1" ></span>&nbsp;&nbsp;
        </p>
    </div>

        <div class="schoolselector"></div>
</div>